---
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    eco-base/uri: eco-base://k8s/core/deployment/machine-native-ops
    eco-base/urn: urn:eco-base:k8s:core:deployment:machine-native-ops:sha256-3cdf709814aade0dbb33766f5816f6b0eda0387a148f556c2ac1931e7016196e
    sidecar.istio.io/interceptionMode: TPROXY
    sidecar.istio.io/proxyConfig: "proxyStatsMatcher:\n  inclusionRegexps:\n  - \"\
      .*_outbound.*\"\n  - \".*_inbound.*\"\n"
  labels: {}
  name: machine-native-ops
  namespace: production
spec:
  template:
    metadata:
      annotations:
        instrumentation.opentelemetry.io/inject-java: 'true'
        instrumentation.opentelemetry.io/inject-python: 'true'
        prometheus.io/path: /stats/prometheus
        prometheus.io/port: '15020'
        prometheus.io/scrape: 'true'
