---
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    eco-base/uri: eco-base://k8s/unknown/deployment/machine-native-ops
    eco-base/urn: urn:eco-base:k8s:unknown:deployment:machine-native-ops:sha256-dee13939200a21a02bf33a8f2f2289177406193fdeb17539e5a692c3575d1b68
    sidecar.istio.io/interceptionMode: TPROXY
    sidecar.istio.io/proxyConfig: "proxyStatsMatcher:\n  inclusionRegexps:\n  - \"\
      .*_outbound.*\"\n  - \".*_inbound.*\"\n"
  labels: {}
  name: machine-native-ops
  namespace: production
spec:
  template:
    metadata:
      annotations:
        instrumentation.opentelemetry.io/inject-java: 'true'
        instrumentation.opentelemetry.io/inject-python: 'true'
        prometheus.io/path: /stats/prometheus
        prometheus.io/port: '15020'
        prometheus.io/scrape: 'true'
