# @ECO-governed
# @ECO-layer: GL90-99
# @ECO-semantic: governed-configuration
# @ECO-audit-trail: engine/governance/GL_SEMANTIC_ANCHOR.json

# ==============================================================================
# MachineNativeOps API Specification
# ==============================================================================
# Metadata:
#   version: 4.0.0
metadata:
  annotations:
    eco-base/urn: "urn:eco-base:platform:resource:ng-era-platforms:ng-era1-platforms:governance-architecture:GL90-99-Meta-Specification-Layer:governance:archived:legacy:governance-legacy:api:openapi.yaml"
    eco-base/uri: "eco-base://platform/resource/ng-era-platforms/ng-era1-platforms/governance-architecture/GL90-99-Meta-Specification-Layer/governance/archived/legacy/governance-legacy/api/openapi.yaml"
  name: ""
  description: ""
  labels:
    eco-base/part-of: eco-base
    eco-base/governance: aligned {}

#   description: Complete API specification for MachineNativeOps Naming Governance System
#   author: MachineNativeOps Architecture Team
#   last_updated: 2026-01-23
#   review_date: 2027-01-23
# ==============================================================================

openapi: 3.0.3
info:
  title: MachineNativeOps Naming Governance API
  description: |
    Complete API specification for MachineNativeOps Naming Governance System.
    Supports v1.0.0 (Foundation), v1.0.0-extended (Enterprise), and v4.0.0 (Quantum).
  version: 4.0.0
  contact:
    name: MachineNativeOps Support
    email: support@machinenativeops.io
    url: https://docs.machinenativeops.io
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html

servers:
  - url: https://api.machinenativeops.io/v1
    description: Production API v1.0.0
  - url: https://api.machinenativeops.io/v2
    description: Extended API v1.0.0-extended
  - url: https://gov.quantum.machinenativeops.io/v4
    description: Quantum API v4.0.0
  - url: http://localhost:8080
    description: Local development

tags:
  - name: naming
    description: Naming generation and validation operations
  - name: validation
    description: Naming validation operations
  - name: repair
    description: Auto-repair operations
  - name: migration
    description: Asset migration operations
  - name: quantum
    description: Quantum governance operations
  - name: monitoring
    description: Monitoring and metrics operations

paths:
  /naming/generate:
    post:
      tags:
        - naming
      summary: Generate standardized resource name
      description: Generates a standardized resource name based on governance rules
      operationId: generateName
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateNameRequest'
      responses:
        '200':
          description: Name generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateNameResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /naming/validate:
    post:
      tags:
        - validation
      summary: Validate resource name
      description: Validates a resource name against governance rules
      operationId: validateName
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateNameRequest'
      responses:
        '200':
          description: Validation completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateNameResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /naming/batch-validate:
    post:
      tags:
        - validation
      summary: Batch validate resource names
      description: Validates multiple resource names in a single request
      operationId: batchValidateNames
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchValidateRequest'
      responses:
        '200':
          description: Batch validation completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchValidateResponse'

  /repair/auto:
    post:
      tags:
        - repair
      summary: Auto-repair naming violations
      description: Automatically repairs naming violations using intelligent algorithms
      operationId: autoRepair
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoRepairRequest'
      responses:
        '200':
          description: Auto-repair completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoRepairResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /migration/analyze:
    post:
      tags:
        - migration
      summary: Analyze migration requirements
      description: Analyzes resources and provides migration recommendations
      operationId: analyzeMigration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MigrationAnalyzeRequest'
      responses:
        '200':
          description: Analysis completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrationAnalyzeResponse'

  /migration/execute:
    post:
      tags:
        - migration
      summary: Execute migration
      description: Executes resource migration with rollback support
      operationId: executeMigration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MigrationExecuteRequest'
      responses:
        '200':
          description: Migration executed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrationExecuteResponse'

  /quantum/validate:
    post:
      tags:
        - quantum
      summary: Quantum-enhanced validation
      description: Validates resource names using quantum algorithms
      operationId: quantumValidate
      security:
        - QuantumAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuantumValidateRequest'
      responses:
        '200':
          description: Quantum validation completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuantumValidateResponse'

  /quantum/metrics:
    get:
      tags:
        - quantum
        - monitoring
      summary: Get quantum metrics
      description: Retrieves quantum coherence, entanglement, and performance metrics
      operationId: getQuantumMetrics
      security:
        - QuantumAuth: []
      responses:
        '200':
          description: Quantum metrics retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuantumMetrics'

  /health:
    get:
      tags:
        - monitoring
      summary: Health check
      description: Returns service health status
      operationId: healthCheck
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'

  /metrics:
    get:
      tags:
        - monitoring
      summary: Get metrics
      description: Returns Prometheus-compatible metrics
      operationId: getMetrics
      responses:
        '200':
          description: Metrics retrieved
          content:
            text/plain:
              schema:
                type: string

components:
  schemas:
    GenerateNameRequest:
      type: object
      required:
        - environment
        - application
        - resource
        - version
      properties:
        environment:
          type: string
          description: Environment name (e.g., prod, dev, staging)
          example: prod
        application:
          type: string
          description: Application name
          example: app
        resource:
          type: string
          description: Resource type
          example: service
        version:
          type: string
          description: Version string
          example: v1.0.0

    GenerateNameResponse:
      type: object
      properties:
        name:
          type: string
          description: Generated resource name
          example: prod-app-service-v1.0.0
        valid:
          type: boolean
          description: Whether the generated name is valid
          example: true

    ValidateNameRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: Resource name to validate
          example: prod-app-service-v1.0.0

    ValidateNameResponse:
      type: object
      properties:
        valid:
          type: boolean
          description: Whether the name is valid
          example: true
        errors:
          type: array
          items:
            type: string
          description: List of validation errors
          example: []
        warnings:
          type: array
          items:
            type: string
          description: List of validation warnings
          example: []

    BatchValidateRequest:
      type: object
      required:
        - names
      properties:
        names:
          type: array
          items:
            type: string
          description: List of resource names to validate
          example:
            - prod-app-service-v1.0.0
            - dev-api-gateway-v2.1.3

    BatchValidateResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/ValidateNameResponse'
        summary:
          type: object
          properties:
            total:
              type: integer
              example: 2
            valid:
              type: integer
              example: 2
            invalid:
              type: integer
              example: 0

    AutoRepairRequest:
      type: object
      required:
        - violations
      properties:
        violations:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              errors:
                type: array
                items:
                  type: string

    AutoRepairResponse:
      type: object
      properties:
        repaired:
          type: array
          items:
            type: object
            properties:
              original:
                type: string
              repaired:
                type: string
              success:
                type: boolean
        success_rate:
          type: number
          format: float
          example: 0.95

    MigrationAnalyzeRequest:
      type: object
      required:
        - resources
      properties:
        resources:
          type: array
          items:
            type: string

    MigrationAnalyzeResponse:
      type: object
      properties:
        total_resources:
          type: integer
        requires_migration:
          type: integer
        risk_assessment:
          type: string
          enum: [low, medium, high]
        recommendations:
          type: array
          items:
            type: string

    MigrationExecuteRequest:
      type: object
      required:
        - resources
        - strategy
      properties:
        resources:
          type: array
          items:
            type: string
        strategy:
          type: string
          enum: [staged, immediate, canary]
        rollback_enabled:
          type: boolean
          default: true

    MigrationExecuteResponse:
      type: object
      properties:
        status:
          type: string
          enum: [success, partial, failed]
        migrated:
          type: integer
        failed:
          type: integer
        rollback_available:
          type: boolean

    QuantumValidateRequest:
      type: object
      required:
        - resource_name
      properties:
        resource_name:
          type: string
        quantum_validation:
          type: boolean
          default: true
        coherence_check:
          type: boolean
          default: true

    QuantumValidateResponse:
      type: object
      properties:
        valid:
          type: boolean
        quantum_coherence:
          type: number
          format: float
          example: 0.9999
        entanglement_strength:
          type: number
          format: float
          example: 0.97
        bell_inequality:
          type: number
          format: float
          example: 2.7

    QuantumMetrics:
      type: object
      properties:
        quantum_coherence:
          type: number
          format: float
        entanglement_strength:
          type: number
          format: float
        decoherence_rate:
          type: number
          format: float
        conflict_entropy:
          type: number
          format: float
        processing_time:
          type: number
          format: float
        throughput:
          type: number
          format: float

    HealthStatus:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
        version:
          type: string
        uptime:
          type: integer
        checks:
          type: object
          additionalProperties:
            type: boolean

    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: object

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    QuantumAuth:
      type: http
      scheme: bearer
      bearerFormat: Quantum-JWT
      description: Quantum-enhanced authentication token

security:
  - BearerAuth: []